# none
on property:sys.usb.config=none && property:sys.usb.configfs=1
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.1/f6
    rm /config/usb_gadget/g1/configs/b.1/f7
    rm /config/usb_gadget/g1/configs/b.1/f8
    rm /config/usb_gadget/g1/configs/b.1/f9
    rm /config/usb_gadget/g1/configs/b.2/f1
    rm /config/usb_gadget/g1/configs/b.2/f2
    rm /config/usb_gadget/g1/configs/b.2/f3
    rm /config/usb_gadget/g1/configs/b.2/f4
    rm /config/usb_gadget/g1/configs/b.2/f5
    rmdir /config/usb_gadget/g1/configs/b.2

# adb
on property:sys.usb.config=adb && property:sys.usb.configfs=1
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.1/f6
    rm /config/usb_gadget/g1/configs/b.1/f7
    rm /config/usb_gadget/g1/configs/b.1/f8
    rm /config/usb_gadget/g1/configs/b.1/f9
    rm /config/usb_gadget/g1/configs/b.2/f1
    rm /config/usb_gadget/g1/configs/b.2/f2
    rm /config/usb_gadget/g1/configs/b.2/f3
    rm /config/usb_gadget/g1/configs/b.2/f4
    rm /config/usb_gadget/g1/configs/b.2/f5
    rmdir /config/usb_gadget/g1/configs/b.2
    write /config/usb_gadget/g1/idVendor 0x1004
    write /config/usb_gadget/g1/idProduct 0x631F
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0

# accessory & audiosource
on property:sys.usb.config=accessory && property:sys.usb.configfs=1
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.1/f6
    rm /config/usb_gadget/g1/configs/b.1/f7
    rm /config/usb_gadget/g1/configs/b.1/f8
    rm /config/usb_gadget/g1/configs/b.1/f9
    rm /config/usb_gadget/g1/configs/b.2/f1
    rm /config/usb_gadget/g1/configs/b.2/f2
    rm /config/usb_gadget/g1/configs/b.2/f3
    rm /config/usb_gadget/g1/configs/b.2/f4
    rm /config/usb_gadget/g1/configs/b.2/f5
    rmdir /config/usb_gadget/g1/configs/b.2
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/idProduct 0x2d00
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0

on property:sys.usb.config=accessory,adb && property:sys.usb.configfs=1
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.1/f6
    rm /config/usb_gadget/g1/configs/b.1/f7
    rm /config/usb_gadget/g1/configs/b.1/f8
    rm /config/usb_gadget/g1/configs/b.1/f9
    rm /config/usb_gadget/g1/configs/b.2/f1
    rm /config/usb_gadget/g1/configs/b.2/f2
    rm /config/usb_gadget/g1/configs/b.2/f3
    rm /config/usb_gadget/g1/configs/b.2/f4
    rm /config/usb_gadget/g1/configs/b.2/f5
    rmdir /config/usb_gadget/g1/configs/b.2
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/idProduct 0x2d01
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0

on property:sys.usb.config=audio_source && property:sys.usb.configfs=1
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.1/f6
    rm /config/usb_gadget/g1/configs/b.1/f7
    rm /config/usb_gadget/g1/configs/b.1/f8
    rm /config/usb_gadget/g1/configs/b.1/f9
    rm /config/usb_gadget/g1/configs/b.2/f1
    rm /config/usb_gadget/g1/configs/b.2/f2
    rm /config/usb_gadget/g1/configs/b.2/f3
    rm /config/usb_gadget/g1/configs/b.2/f4
    rm /config/usb_gadget/g1/configs/b.2/f5
    rmdir /config/usb_gadget/g1/configs/b.2
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/idProduct 0x2d02
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0

on property:sys.usb.config=audio_source,adb && property:sys.usb.configfs=1
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.1/f6
    rm /config/usb_gadget/g1/configs/b.1/f7
    rm /config/usb_gadget/g1/configs/b.1/f8
    rm /config/usb_gadget/g1/configs/b.1/f9
    rm /config/usb_gadget/g1/configs/b.2/f1
    rm /config/usb_gadget/g1/configs/b.2/f2
    rm /config/usb_gadget/g1/configs/b.2/f3
    rm /config/usb_gadget/g1/configs/b.2/f4
    rm /config/usb_gadget/g1/configs/b.2/f5
    rmdir /config/usb_gadget/g1/configs/b.2
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/idProduct 0x2d03
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0

on property:sys.usb.config=accessory,audio_source && property:sys.usb.configfs=1
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.1/f6
    rm /config/usb_gadget/g1/configs/b.1/f7
    rm /config/usb_gadget/g1/configs/b.1/f8
    rm /config/usb_gadget/g1/configs/b.1/f9
    rm /config/usb_gadget/g1/configs/b.2/f1
    rm /config/usb_gadget/g1/configs/b.2/f2
    rm /config/usb_gadget/g1/configs/b.2/f3
    rm /config/usb_gadget/g1/configs/b.2/f4
    rm /config/usb_gadget/g1/configs/b.2/f5
    rmdir /config/usb_gadget/g1/configs/b.2
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/idProduct 0x2d04
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0

on property:sys.usb.config=accessory,audio_source,adb && property:sys.usb.configfs=1
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.1/f6
    rm /config/usb_gadget/g1/configs/b.1/f7
    rm /config/usb_gadget/g1/configs/b.1/f8
    rm /config/usb_gadget/g1/configs/b.1/f9
    rm /config/usb_gadget/g1/configs/b.2/f1
    rm /config/usb_gadget/g1/configs/b.2/f2
    rm /config/usb_gadget/g1/configs/b.2/f3
    rm /config/usb_gadget/g1/configs/b.2/f4
    rm /config/usb_gadget/g1/configs/b.2/f5
    rmdir /config/usb_gadget/g1/configs/b.2
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/idProduct 0x2d05
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0

# midi
on property:sys.usb.config=midi && property:sys.usb.configfs=1
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.1/f6
    rm /config/usb_gadget/g1/configs/b.1/f7
    rm /config/usb_gadget/g1/configs/b.1/f8
    rm /config/usb_gadget/g1/configs/b.1/f9
    rm /config/usb_gadget/g1/configs/b.2/f1
    rm /config/usb_gadget/g1/configs/b.2/f2
    rm /config/usb_gadget/g1/configs/b.2/f3
    rm /config/usb_gadget/g1/configs/b.2/f4
    rm /config/usb_gadget/g1/configs/b.2/f5
    rmdir /config/usb_gadget/g1/configs/b.2
    write /config/usb_gadget/g1/idVendor 0x1004
    write /config/usb_gadget/g1/idProduct 0x6348
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0

on property:sys.usb.config=midi,adb && property:sys.usb.configfs=1
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.1/f6
    rm /config/usb_gadget/g1/configs/b.1/f7
    rm /config/usb_gadget/g1/configs/b.1/f8
    rm /config/usb_gadget/g1/configs/b.1/f9
    rm /config/usb_gadget/g1/configs/b.2/f1
    rm /config/usb_gadget/g1/configs/b.2/f2
    rm /config/usb_gadget/g1/configs/b.2/f3
    rm /config/usb_gadget/g1/configs/b.2/f4
    rm /config/usb_gadget/g1/configs/b.2/f5
    rmdir /config/usb_gadget/g1/configs/b.2
    write /config/usb_gadget/g1/idVendor 0x1004
    write /config/usb_gadget/g1/idProduct 0x6349
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0

# hset
on property:sys.usb.config=hset && property:sys.usb.configfs=1
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=hset && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "hset"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.1/f6
    rm /config/usb_gadget/g1/configs/b.1/f7
    rm /config/usb_gadget/g1/configs/b.1/f8
    rm /config/usb_gadget/g1/configs/b.1/f9
    rm /config/usb_gadget/g1/configs/b.2/f1
    rm /config/usb_gadget/g1/configs/b.2/f2
    rm /config/usb_gadget/g1/configs/b.2/f3
    rm /config/usb_gadget/g1/configs/b.2/f4
    rm /config/usb_gadget/g1/configs/b.2/f5
    rmdir /config/usb_gadget/g1/configs/b.2
    write /config/usb_gadget/g1/idVendor 0x1A0A
    write /config/usb_gadget/g1/idProduct 0x0104
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f1
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

################################################################################
# MTK
################################################################################
#none
on property:sys.usb.config=none && property:sys.usb.configfs=1
    setprop vendor.usb.acm_idx ""

# qmicm
on property:sys.usb.config=qmicm && property:sys.usb.configfs=1
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=qmicm && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "qmicm"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.2/f1
    rm /config/usb_gadget/g1/configs/b.2/f2
    rm /config/usb_gadget/g1/configs/b.2/f3
    rm /config/usb_gadget/g1/configs/b.2/f4
    rm /config/usb_gadget/g1/configs/b.2/f5
    rmdir /config/usb_gadget/g1/configs/b.2
    write /config/usb_gadget/g1/idVendor 0x0E8D
    write /config/usb_gadget/g1/idProduct 0x2050
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0
    symlink /config/usb_gadget/g1/functions/via_modem.gs0 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/acm.gs1 /config/usb_gadget/g1/configs/b.1/f2
    symlink /config/usb_gadget/g1/functions/acm.gs3 /config/usb_gadget/g1/configs/b.1/f4
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f5
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}
    setprop vendor.usb.acm_idx "2,4"
    write /sys/devices/virtual/usb_rawbulk/data/enable 1

# qmicm,adb
on property:sys.usb.config=qmicm,adb && property:sys.usb.configfs=1
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=qmicm,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "qmicm_adb"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.2/f1
    rm /config/usb_gadget/g1/configs/b.2/f2
    rm /config/usb_gadget/g1/configs/b.2/f3
    rm /config/usb_gadget/g1/configs/b.2/f4
    rm /config/usb_gadget/g1/configs/b.2/f5
    rmdir /config/usb_gadget/g1/configs/b.2
    write /config/usb_gadget/g1/idVendor 0x0E8D
    write /config/usb_gadget/g1/idProduct 0x2050
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0
    symlink /config/usb_gadget/g1/functions/via_modem.gs0 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/acm.gs1 /config/usb_gadget/g1/configs/b.1/f2
    symlink /config/usb_gadget/g1/functions/acm.gs3 /config/usb_gadget/g1/configs/b.1/f4
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f5
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}
    setprop vendor.usb.acm_idx "2,4"
    write /sys/devices/virtual/usb_rawbulk/data/enable 1

# gs3 for ELT,comport --> /dev/ttyGS3
on property:sys.usb.ffs.ready=1 && property:sys.usb.config=gs3 && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "gs3"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.2/f1
    rm /config/usb_gadget/g1/configs/b.2/f2
    rm /config/usb_gadget/g1/configs/b.2/f3
    rm /config/usb_gadget/g1/configs/b.2/f4
    rm /config/usb_gadget/g1/configs/b.2/f5
    rm /config/usb_gadget/g1/configs/b.2/strings/0x409/configuration
    rmdir /config/usb_gadget/g1/configs/b.2/strings/0x409
    rmdir /config/usb_gadget/g1/configs/b.2
    write /config/usb_gadget/g1/idVendor 0x1004
    write /config/usb_gadget/g1/idProduct 0x61F1
    write /config/usb_gadget/g1/bDeviceClass 239
    write /config/usb_gadget/g1/bDeviceSubClass 2
    write /config/usb_gadget/g1/bDeviceProtocol 1
    symlink /config/usb_gadget/g1/functions/acm.gs3 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/gser.gser /config/usb_gadget/g1/configs/b.1/f2
    symlink /config/usb_gadget/g1/functions/mtp.gs0 /config/usb_gadget/g1/configs/b.1/f3
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}
    setprop vendor.usb.acm_idx "4"

#mtp,gs3 for ELT,comport --> /dev/ttyGS3
on property:sys.usb.config=mtp,gs3 && property:sys.usb.configfs=1
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mtp,gs3 && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "mtp,gs3"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.2/f1
    rm /config/usb_gadget/g1/configs/b.2/f2
    rm /config/usb_gadget/g1/configs/b.2/f3
    rm /config/usb_gadget/g1/configs/b.2/f4
    rm /config/usb_gadget/g1/configs/b.2/f5
    rm /config/usb_gadget/g1/configs/b.2/strings/0x409/configuration
    rmdir /config/usb_gadget/g1/configs/b.2/strings/0x409
    rmdir /config/usb_gadget/g1/configs/b.2
    write /config/usb_gadget/g1/idVendor 0x1004
    write /config/usb_gadget/g1/idProduct 0x61F1
    write /config/usb_gadget/g1/bDeviceClass 239
    write /config/usb_gadget/g1/bDeviceSubClass 2
    write /config/usb_gadget/g1/bDeviceProtocol 1
    symlink /config/usb_gadget/g1/functions/acm.gs3 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/gser.gser /config/usb_gadget/g1/configs/b.1/f2
    symlink /config/usb_gadget/g1/functions/mtp.gs0 /config/usb_gadget/g1/configs/b.1/f3
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f4
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}
    setprop vendor.usb.acm_idx "4"

on property:sys.usb.config=adb,acm && property:sys.usb.configfs=1
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=adb,acm && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "adb,acm"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.2/f1
    rm /config/usb_gadget/g1/configs/b.2/f2
    rm /config/usb_gadget/g1/configs/b.2/f3
    rm /config/usb_gadget/g1/configs/b.2/f4
    rm /config/usb_gadget/g1/configs/b.2/f5
    rm /config/usb_gadget/g1/configs/b.2/strings/0x409/configuration
    rmdir /config/usb_gadget/g1/configs/b.2/strings/0x409
    rmdir /config/usb_gadget/g1/configs/b.2
    write /config/usb_gadget/g1/idVendor 0x0E8D
    write /config/usb_gadget/g1/idProduct 0x2006
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0
    symlink /config/usb_gadget/g1/functions/mass_storage.0 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f2
    symlink /config/usb_gadget/g1/functions/acm.gs3 /config/usb_gadget/g1/configs/b.1/f3
    symlink /config/usb_gadget/g1/functions/acm.0 /config/usb_gadget/g1/configs/b.1/f4
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}
    setprop vendor.usb.acm_idx "4"

on property:persist.vendor.lge.usb.compliance_mode=true
    write /sys/module/usb20/parameters/usb_compliance_mode Y
    setprop vendor.lge.usb.compliance_state ${persist.vendor.lge.usb.compliance_mode}

on property:persist.vendor.lge.usb.compliance_mode=false
    write /sys/module/usb20/parameters/usb_compliance_mode N
    setprop vendor.lge.usb.compliance_state ${persist.vendor.lge.usb.compliance_mode}
    setprop persist.vendor.lge.usb.compliance_mode unknown

################################################################################
# VZW
################################################################################

on property:sys.boot_completed=1 && property:ro.vendor.lge.build.target_operator=VZW
    write /config/usb_gadget/g1/functions/mass_storage.0/lun.0/cdrom 1
    write /config/usb_gadget/g1/functions/mass_storage.0/lun.0/file /vendor/etc/usbautorun.iso

############################################################
